<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="fetch">
    <xacro:include filename="$(find fetch_description)/robots/fetch.transmission.xacro" />
    <xacro:include filename="$(find fetch_description)/robots/fetch.urdf" />

    <xacro:fetch_arm_transmission prefix="" hw_interface="hardware_interface/PositionJointInterface" />

    <link name="world"/>
    <joint name="world_base" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="world" />
        <child link="base_link" />
    </joint>
</robot>