[Desktop Entry]
Encoding=UTF-8
Name=Link to Move Group Python Interface - ROS Documentationhttp://docs.ros.org › api › moveit_tutorials › html › doc
Type=Link
URL=http://docs.ros.org/en/kinetic/api/moveit_tutorials/html/doc/move_group_python_interface/move_group_python_interface_tutorial.html
Icon=text-html
