[Desktop Entry]
Encoding=UTF-8
Name=Link to no motion plan found · Issue #1302 · ros-planning/moveithttps://github.com › ros-planning › moveit › issues
Type=Link
URL=https://github.com/ros-planning/moveit/issues/1302
Icon=text-html
