<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="fetch_arm_transmission" params="prefix hw_interface">

    <transmission name="${prefix}shoulder_pan_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}shoulder_pan_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}shoulder_pan_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}shoulder_lift_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}shoulder_lift_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}shoulder_lift_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}upperarm_roll_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}upperarm_roll_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}upperarm_roll_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}elbow_flex_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}elbow_flex_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}elbow_flex_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}forearm_roll_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}forearm_roll_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}forearm_roll_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}wrist_flex_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wrist_flex_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}wrist_flex_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}wrist_roll_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wrist_roll_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}wrist_roll_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}torso_lift_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}torso_lift_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}torso_lift_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}r_gripper_finger_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}r_gripper_finger_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}r_gripper_finger_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}l_gripper_finger_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}l_gripper_finger_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}l_gripper_finger_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}l_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}l_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}l_wheel_motor">
        <mechanicalReduction>7</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}r_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}r_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}r_wheel_motor">
        <mechanicalReduction>7</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>