<?xml version="1.0" ?>
<robot name="bottle">
	<link name="bottle_pose"/>
	<link name="bottle">
		<visual>
			<origin xyz = "0 0 0"/>
			<geometry>
				<mesh filename="package://objects_description/bottle/bottle.obj" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://objects_description/bottle/bottle.obj" />
			</geometry>
		</collision>
		<inertial>
			<mass value="1.2"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.04" />
		</inertial>
	</link>
	<joint name="joint_0" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<child link="bottle_pose"/>
		<parent link="bottle"/>
	</joint>
</robot>
