<?xml version="1.0" ?>
<robot name="book">
	<link name="book_pose"/>
	<link name="book">
		<visual>
			<origin xyz = "0 0 0"/>
			<geometry>
				<mesh filename="package://objects_description/book/book.obj" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://objects_description/book/book.obj" />
			</geometry>
		</collision>
		<inertial>
			<mass value="0.9"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
		</inertial>
	</link>
	<joint name="joint_0" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<child link="book_pose"/>
		<parent link="book"/>
	</joint>
</robot>
